@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

a {
  color: rgb(192 132 252);
}

.mainContainer {
  padding: 20px;
}
.mainPicture {
  height: fit-content;
  width: 60%;
  max-width: 450px;
  cursor: pointer;
}
@media screen and (min-width: 500px){
  .todayView {
    display: flex;
  }
  .todayViewImageContainer {
    margin-left: 20px;
  }
  .levelOneTitle {
    padding-right: 10px;
  }
}

@media screen and (max-width: 500px){
  .homeTitle {
    display: flex;
    flex-direction: column;
  }
  .todayViewImageContainer {
    margin-top: 20px;
    padding-left: 0;
  }
  .mainPicture {
    width: 100%;
  }
}